<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Manfred Diaz
              </h1>
              <p>I am a PhD student working on machine learning and robotics at the <a href="http://montrealrobotics.ca/">Robotics and Embodied AI Lab</a>, affiliated with the <a href="https://diro.umontreal.ca/accueil/">Department of Computer Science and Operation Research</a> at <a href="https://www.cmu.edu/">Universit&eacute; de Montre&eacute;al</a> and the <a href="https://mila.quebec">Mila - Quebec Artificial Intelligence Institute</a>. My PhD advisor is <a href="http://liampaull.ca">Liam Paull</a>.
              </p>
              <p>
                
              </p>
              <p>
                I hold an MS in Computer Science (ML focus) from <a href="https://www.concordia.ca/ginacody/computer-science-software-eng.html">Concordia University</a>, where I worked as research assistant with <a href="http://users.encs.concordia.ca/~fevens/">Thomas Fevens</a>. I also worked as an assistant researcher at the <a href="http://srl.mcgill.ca/">Shared Reality Lab</a> at McGill University under the supervision of <a href="http://www.cim.mcgill.ca/~jer/">Jeremy Cooperstock</a>. I have a BS in CS with <i>summa cum laude</i> from <a href="https://www.uci.cu/">Universidad de las Ciencias Informaticas</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/Vha5P"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/manfreddiaz">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.ca/citations?user=z_vFbp8AAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/manfred-diaz"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in mutli-agent learning and interactions, behavior modelling, machine learning and robotics.
              </p>
            </td>
          </tr>
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

